{
  "name": "demopay-web",
  "version": "1.4.0",
  "private": true,
  "scripts": {
    "build": "esbuild web/checkout.js --bundle --minify --outfile=web/static/app.min.js"
  },
  "config": {
    {{ plant_here }}
    "region": "eu-west-1"
  },
  "devDependencies": {
    "esbuild": "0.21.5"
  }
}
